<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add or Edit Meal</title>
    <link href="../webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<h1>Add or Edit Meal</h1>

<form action="/add" method="post" th:object="${meal}">
    <label th:text="'Date: '"></label>
    <input type="date" th:field="*{date}"/>
    <label th:text="'Type: '"></label>
    <select th:field="*{mealType}">
        <option th:each="mealtype : ${mealtypes}"
                th:value="${mealtype.getMealType()}"
                th:text="${mealtype.getMealType()}">
        </option>
    </select>
    <label th:text="'Description: '"></label>
    <input type="text" th:field="*{description}"/>
    <label th:text="'Calories: '"></label>
    <input type="number" th:field="*{calories}"/>
    <input th:if="*{id} != null" type="hidden" th:field="*{id}"/>
    <input class="btn btn-success" type="submit" th:value="Save"/>
    <a th:href="@{/}" class="btn btn-danger" th:text="Cancel"/>
</form>

<script src="../webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="../webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>