.idea
*iml
.xml
out
*.jar
*.war
*.ear

#Gradle
.gradle
/build
/buildSrc/build
/subprojects/docs/srs/samples/*/*/build
/subprojects/internal-android-performance-testing/build-android-libs
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
gradle/wrapper/gradle-wrapper.properties

