<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Programmer Fox Club</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul>
    <li>
        <a th:href="@{'/'}">Information</a>
    </li>
    <li>
        <a th:href="@{'/nutritionStore'}">Nutrition Store</a>
    </li>
    <li>
        <a th:href="@{'/trickCenter'}">Trick Center</a>
    </li>
</ul>
<img src="greenfox.png"/>
<p th:text="'This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks'"></p>
<h1>Know tricks</h1>
<ul>
    <li>
        Write HTML
    </li>
    <li>
        code in Java
    </li>
</ul>
</body>
</html>