<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<span th:each="listelement : ${accountList}">
      <p th:text="'Name: ' + ${listelement.getName()} +' | Balance: ' + ${listelement.getBalance()} + ' Zebra ' +
      ' | Animal type: ' + ${listelement.getAnimalType()}">elements</p>
    </span>
</body>
</html>