.big {
  color: blue;
}
.container .asteroid {
  border: 1px green solid;
  width: 260px;
}
.container .b326 {
  border-top: 0;
}

.asteroid#b325, .asteroid.b326, .asteroid.b329.big {
  font-weight: bold;
}
p {
  background-color: yellow;
  width: 260px;
}
