<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #1</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Type</th>
        <th>King</th>
    </tr>
    <tr th:each="account : ${accountList}" th:style="${account.isKing()} ? 'color: yellow'">
        <td th:text="${accountStat.index} + 1">Index</td>
        <td th:text="${account.getName()}">Name</td>
        <td th:text="${account.getBalance()}">Balance</td>
        <td th:text="${account.getAnimalType()}">Type</td>
        <td th:text="${account.isKing()} ? 'king' : 'not king'">King</td>
    </tr>
</table>
</body>
</html>